* {
  margin: 0;
  padding: 0;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.foot_box1 {
  height: 278px;
  background: #000;
  border-bottom: 1px solid #aaaaaa;
  color: #fff;
}

.foot_box1 .foot_con1 {
  width: 1200px;
  height: 278px;
  margin: 0 auto;
}

.foot_box1 .foot_con1 .foot_con1_1 {
  width: 250px;
  height: 185px;
  border-right: 1px solid #aaaaaa;
  margin-top: 50px;
  float: left;
}

.foot_box1 .foot_con1 .foot_con1_1 p {
  font-size: 30px;
  font-weight: bolder;
}

.foot_box1 .foot_con1 .foot_con1_1 #weixin img {
  float: left;
  margin: 59px -160px 0 0;
  display: none;
}

.foot_box1 .foot_con1 .foot_con1_1 #weixin:hover img {
  display: block;
}

.foot_box1 .foot_con1 .foot_con1_1 span {
  width: 40px;
  height: 40px;
}

.foot_box1 .foot_con1 .foot_con1_2 {
  width: 156px;
  height: 185px;
  margin-top: 50px;
  float: left;
  border-right: 1px solid #aaaaaa;
}

.foot_box1 .foot_con1 .foot_con1_2 li {
  list-style: none;
  text-align: center;
}

.foot_box1 .foot_con1 .foot_con1_2 a {
  line-height: 35px;
  color: #fff;
  text-decoration: none;
}

.foot_box1 .foot_con1 .foot_con1_3 {
  float: left;
  margin: 50px 0 0 50px;
  width: 358px;
  height: 185px;
  border-right: 1px solid #aaaaaa;
}

.foot_box1 .foot_con1 .foot_con1_3 p {
  line-height: 40px;
}

.foot_box1 .foot_con1 .foot_con1_3 img {
  width: 79px;
  height: 79px;
  margin: 32px 30px 0 0;
}

.foot_box1 .foot_con1 .foot_con1_4 {
  float: left;
  margin: 50px 0 0 50px;
  width: 256px;
  height: 185px;
}

.foot_box1 .foot_con1 .foot_con1_4 a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.foot_box2 {
  height: 120px;
  background: #000;
}

.foot_box2 .foot_con2 {
  margin: 0 auto;
  width: 1200px;
  height: 120px;
}

.foot_box2 .foot_con2 p {
  color: #666658;
  text-align: center;
  line-height: 70px;
}

.foot_box2 .foot_con2 .foot_imgs {
  margin-left: 218px;
}

.foot_box2 .foot_con2 .foot_img {
  float: left;
  margin-left: 50px;
}
